<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Projetos</h5>
        <p class="card-text">
          ...
          <br><br><br>
        </p>
        <a type="button" routerLink="/projeto" class="btn btn-primary">Entrar</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Tarefas</h5>
        <p class="card-text">Vinculado aos projetos é abertos no GENTI. <br><br></p>
        <a type="button" routerLink="/tarefa/new" class="btn btn-primary">Entrar</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ordem Fornecimento</h5>
        <p class="card-text">Vinculado a todas as entregas dentro de um mês, gerado pelo RT.</p>
        <a type="button" routerLink="/ordem-fornecimento/new" class="btn btn-primary">Entrar</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Entregas</h5>
        <p class="card-text">Gerado a cada comit enviado ao repositorio. <br><br> </p>
        <a type="button" routerLink="/entrega" class="btn btn-primary">Entrar</a>
      </div>
    </div>
  </div>
</div>
