<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/menu">Início</a></li>
    <li class="breadcrumb-item active">Formulário</li>
  </ol>
</nav>
<div class="alert alert-success" role="alert" *ngIf="msgPost">
  Requisição realizada com Sucesso!
</div>
<div class="col-12 col-md-12">
  <p-card header="Cadastro e Controle de Ordem Fornecimento">
    <div class="row col-md-12">
      <div class="col-md-6">
        <form [formGroup]="ordemFornecimentoForm">
          <div class="form-row col-md-12">
            <div class="form-group col-md-2">
              <label for="id">ID:</label>
              <input
                type="text"
                class="form-control"
                id="id"
                formControlName="id"
                readonly=""
              />
            </div>
            <div class="form-group col-md-5">
              <label for="numero">Número:</label>
              <input
                type="text"
                class="form-control"
                id="numero"
                formControlName="numero"
                autocomplete="off"
              />
            </div>
            <div class="form-group col-md-5">
              <label for="status">Status:</label>
              <select id="status" class="form-control" formControlName="status">
                    <option value="">Escolha o Status</option>
                    <option value="ATIVO">ATIVO</option>
                    <option value="INATIVO">INATIVO</option>
                    <option value="ANDAMENTO">ANDAMENTO</option>
                    <option value="EM_ESPERA">EM ESPERA</option>
                    <option value="FINALIZADO">FINALIZADO</option>
              </select>
            </div>
          </div>
          <div class="row col-md-12">
            <div class="form-group col-md-12">
              <label for="referencia">Referência:</label>
              <input
                type="text"
                class="form-control"
                id="referencia"
                formControlName="referencia"
                autocomplete="off"
              />
            </div>
          </div>
          <div class="form-row col-md-12">
            <button
              type="submit"
              (click)="gravarOrdFornecimento()"
              class="btn btn-success mt-3"
            >
            <i class="fas fa-save"></i> &nbsp;{{ nomeBotao }}
            </button>
          </div>
        </form>
      </div>
      <div class="col-md-6 mt-3">
        <p-table [value]="ordensFornecimento" [tableStyle]="{ 'min-width': '20rem', 'max-height': '10rem'}">
          <ng-template pTemplate="header">
              <tr style="font-size: 10pt;">
                <th>ID</th>
                <th>Número</th>
                <th>Referência</th>
                <th>Status</th>
                <th>Ações</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-ordensFornecimento>
              <tr style="font-size: 10pt;">
                <td>
                  {{ ordensFornecimento.id }}
                </td>
                <td>
                  {{ ordensFornecimento.numero }}
                </td>
                <td>
                  {{ordensFornecimento.referencia}}
                </td>
                <td>{{ ordensFornecimento.status }}</td>
                <td>
                  <button (click)="editar(ordensFornecimento)" class="btn btn-outline-info btn-sm"><i class="far fa-edit"></i></button>
                  <button (click)="pegarDados(ordensFornecimento)" data-toggle="modal" data-target="#ModalExclusao" class="btn btn-outline-danger btn-sm"><i class="fas fa-user-slash"></i></button>
                </td>
              </tr>
          </ng-template>
      </p-table>
      </div>
    </div>
  </p-card>
  <!-- <pre>
    {{ ordemFornecimentoForm.value | json }}
  </pre> -->
</div>

